:root {
    --main-color: rgb(160, 201, 232);
    --light-gray: rgb(190, 189, 189);
    --yellow-100: rgb(254, 236, 0);
    --blue-light: rgb(223, 231, 239);
    --red-medium: rgb(169, 1, 63);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: cursive; */
    color: var(--blue-light);
    background-color: var(--red-medium);
}

main {
    width: 970px;
    display: flex;
    min-height: fit-content;
    border-radius: 10%;

    box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.719);

}

.container {
    border: 1px solid rgb(46, 93, 155);
    background-color: var(--main-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 10%;
}

.grid {
    background-color: var(--light-gray);
    border-radius: 40px;
    width: 850px;
    min-height: 600px;
    margin-top: 50px;
    border: 2px solid var(--blue-light);
    outline: 3px solid rgba(118, 148, 172, 0.753);
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(187, 47, 47); */
    font-size: 2rem;
}

.toolbar h1 {
    margin-bottom: 30px;
}


.tools {
    border: 3px solid var(--blue-light);
    padding: 10px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: baseline;
    font-size: 1.4rem;
}


.radio{
    display: flex;
    align-items: center;
    gap: 4px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.377);
}
.radio:hover {
    cursor: pointer;
}

.radioNew {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #d8e4e2;
    border-radius: 50%;
    padding: 2px;
}

.radioNew::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--yellow-100);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.inpRadio:checked + .radioNew::after {
    transform: scale(1);
}

.inpRadio {
    display: none;

}

.containerBtn {
    width: 100%;
    margin-top: auto;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.gridBtn {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, var(--yellow-100)60%, rgb(228, 221, 13)10%);
    border-radius: 50%;
    flex-shrink: 0;
    margin: 10px;
    border: 2px dashed var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(126, 126, 6);
}

.gridBtn:hover {
    cursor: pointer;
    color: rgba(126, 126, 6, 0.541);
}

.gridBtn:active {
    transform: translateY(5px);
}

